
body {
  background-color: darkgreen;
}

#board {
  margin: auto; 
  width: 1300px;
  height: 650px;
  border: 1px solid white;
  background-color: black;
  position: relative;
  
}

#rightPaddle {
  background-color: lime;
  width: 25px;
  height: 100px;  
  /* positioning */
  position: absolute;
  top: 275px;
  left: 1200px;
  border-radius: 5px; 
}

#ball {
  /* appearance */
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  
  /* positioning */
  position: absolute;
  top: 10px;
  left: 10px;
}

#leftPaddle {
  /* appearance */
  background-color: blue;
  width: 25px;
  height: 100px;  
  /* positioning */
  position: absolute;
  top: 275px;
  left: 70px;
  border-radius: 5px; 
}

#score1{
  color: white; 
  font-size: 60px;
  width: 100px;
  height: 100px;  
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  /* positioning */
  position: relative;
  border-radius: 5px; 
  top: 0px;
  left: 650px; 
}
#score2{
  color: white; 
  font-size: 60px;
  width: 100px;
  height: 100px;  
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  /* positioning */
  position: absolute;
  top: 0px;
  left: 550px;
  border-radius: 5px; 
}

#b{
  position: relative; 
  margin: auto; 
  top: 555px;
  left: 175px;
  width: 200px; 
  height: 25px; 
  color: white; 
  background-color: orange; 
}

#buttonm1{
  position: relative; 
  margin: auto; 
  width: 200px; 
  top: 555px; 
  left: 55px; 
  height: 25px; 
  color: white; 
  background-color: red;
}

#buttonm2{
  position: relative; 
  margin: auto; 
  top: 555px;
  left: 95px;
  width: 200px; 
  height: 25px; 
  color: white; 
  background-color: purple;
}

#buttonm3{
  position: relative; 
  margin: auto; 
  top: 555px;
  left: 135px;
  width: 200px; 
  height: 25px; 
  color: white; 
  background-color: teal;
}

#buttonm4{
  position: relative; 
  margin: auto; 
  top: 555px;
  left: 215px;
  width: 200px; 
  height: 25px; 
  color: white; 
  background-color: rgb(192, 78, 78);
}
